@import '../padronizacao/variaveis.scss';

* {
  color: $corDaFontePrincipal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(6px);
  background-color: $corFundoBotao;
  z-index: 1;

  div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    div {
      display: flex;
      align-items: center;
      img {
        width: 4vw;
        margin: 0.3vw;
      }
    }
  }
  nav {
    display: flex;
    align-items: center;
    gap: clamp(1.5vw, 3vw, 5vw);
    a {
      font-size: clamp(1vh, 1.5vh, 2vh);
      font-weight: 600;
      text-decoration: none;
      color: $corDaFontePrincipal;
    }
  }
  button {
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    height: clamp(2.5vh, 4vh, 6vh);
    background: $gradiente;
    i,
    p {
      margin: clamp(0.2vw, 0.4vw, 0.7vw);
      font-weight: 700;
      color: $corDaFontePrincipal;
      font-size: clamp(0.3em, 0.7em, 0.8em);
    }
  }

  &:hover {
    top: 0;
  }
}

main {
  section.inicio {
    background: no-repeat url(../img/fundo.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

    .digitacao {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      white-space: nowrap;

      div {
        display: block;
        font-weight: 700;
        font-size: clamp(1.5rem, 3rem, 4rem);
      }
    }

    .footerSectionInicio {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .divSubtituloInicio {
        text-align: center;
        margin-bottom: clamp(0.8rem, 1.2rem, 1.5rem);
        h3 {
          font-size: clamp(1.2rem, 1.5rem, 1.8rem);
        }
      }

      .divImg {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: clamp(3vw, 6vw, 9vw);
        img {
          width: clamp(2.5vw, 5vw, 8vw);
          height: auto;
        }
      }
    }
  }

  section.devWorkstation {
    display: flex;
    margin: clamp(0.2vh, 0.4vh, 0.6vh) clamp(0.4vw, 0.8vw, 1.5vw);
    align-items: center;
    padding: clamp(8vh, 12vh, 15vh) 0;
    h2,
    p {
      color: $corTextoPreto;
    }
    h2 {
      font-size: clamp(1.2em, 1.6em, 2em);
      background: $corBotaoGradiente;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 300;
      font-family: $fonteFamiliaSecundaria;
      margin-bottom: clamp(4vh, 5vh, 7vh);
    }
    p {
      font-weight: 650;
      font-family: $fonteFamiliaPrimaria;
      font-size: clamp(1.2em, 1.6em, 2em);
    }
    img {
      height: clamp(60vh, 80vh, 90vh);
    }
  }

  section.cards {
    margin-top: clamp(4rem, 7rem, 10rem);
    h2 {
      font-size: clamp(1.2em, 1.6em, 2em);
      background: $corBotaoGradiente;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 300;
      font-family: $fonteFamiliaSecundaria;
      margin-bottom: clamp(4vh, 5vh, 7vh);
      text-align: center;
    }
    div {
      display: flex;
      justify-content: space-between;
      margin: 0 clamp(0.4em, 0.8em, 1.5em);
      div {
        background-image: radial-gradient(
          circle farthest-corner at 11.3% -0.8%,
          rgba(153, 14, 241, 1) 0%,
          rgba(41, 3, 101, 1) 100.2%
        );
        border-radius: 30px;
        width: clamp(8vw, 12vw, 15vw);
        height: clamp(20vh, 30vh, 35vh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 25px;
          width: clamp(8vw, 10vw, 12vw);
          height: clamp(10vh, 15vh, 18vh);
          background-color: $corDaFontePrincipal;
          margin-bottom: clamp(1.5vh, 3vh, 4vh);
        }
        h6 {
          font-family: $fonteFamiliaPrimaria;
          font-size: clamp(1.2em, 1.6em, 2em);
          font-weight: 700;
          color: $corDaFontePrincipal;
        }
      }
      #cardEmbarcados {
        width: clamp(10vw, 12vw, 15vw);
      }
    }
  }

  section.sobreNos {
    display: flex;
    padding: clamp(8vh, 12vh, 15vh) 0;
    justify-content: center;
    flex-direction: column;

    h2 {
      margin-top: clamp(2.5vh, 4vh, 5vh);
      font-size: clamp(1.2em, 1.6em, 2em);
      background: $corBotaoGradiente;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 300;
      font-family: $fonteFamiliaSecundaria;
      margin-bottom: clamp(1.5vh, 2vh, 4vh);
      text-align: center;
    }

    p,
    h3 {
      font-weight: 650;
      font-family: $fonteFamiliaPrimaria;
      text-align: center;
      font-size: clamp(0.8em, 1.2em, 1.5em);
      color: $corTextoPreto;
    }

    div {
      display: flex;
      justify-content: center;
      margin-top: clamp(0.8rem, 1.2rem, 2rem);

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: clamp(0.8rem, 1rem, 1.5rem) clamp(1.5rem, 2rem, 3rem);
        border-radius: 40px;
        background: $gradiente;
        border: none;
        cursor: pointer;

        i,
        p {
          font-family: $fonteFamiliaPrimaria;
          color: $corDaFontePrincipal;
          font-weight: 650;
          font-size: clamp(0.4rem, 0.8rem, 1.5rem);
        }

        i {
          margin-right: clamp(0.4rem, 0.8rem, 1rem);
          display: flex;
          align-items: center;
        }

        p {
          margin: 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

section.letreiro {
  padding: clamp(1.5vh, 3vh, 5vh) 0;
  width: 100%;
  marquee {
    width: 100%;
    i {
      color: $corTextoPreto;
      font-size: clamp(0.8em, 1em, 1.5em);
      font-weight: 600;
      font-family: $fonteFamiliaPrimaria;
    }
    i#vermelhinho {
      color: $corVermelho;
      margin-right: clamp(2vw, 5vw, 7vw);
    }
  }
}

footer.finalDoSite {
  background: $gradiente;
  color: $corDaFontePrincipal;
  text-align: center;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.4rem, 0.8rem, 1.5rem);
    article,
    nav,
    .imgSection {
      max-width: clamp(15%, 25%, 30%);
      margin: 0 clamp(0.4rem, 0.8rem, 1.5rem);
      h4 {
        text-transform: uppercase;
      }
    }
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin: clamp(0.2rem, 0.4rem, 0.8rem) 0;
        a {
          color: $corDaFontePrincipal;
          text-decoration: none;
        }
      }
    }
    div.imgSection img {
      border-radius: 10px;
      width: 100%;
    }
  }
  div.copyrightSection {
    padding: clamp(0.4rem, 0.8rem, 1.5rem);
    background-color: rgba(0, 0, 0, 0.2);
    a {
      color: $corDaFontePrincipal;
      text-decoration: none;
    }
  }
}
